/* static/styles.css */
.hero {
  position: relative;
  background-size: cover;
  background-position: center;
}
/* .is-large {
  background-image: url("cook1.jpeg");
} */
#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Translucent dark overlay */
  z-index: 1;
}
.hero-body {
  position: relative;
  z-index: 2;
}

/* for nav bar */
.is-hidden {
  display: none;
}

.titled {
  font-family: "Merriweather", serif !important;
  font-size: 58px !important;
  font-weight: 400 !important;
  line-height: 64px !important;
}

.titled-small {
  font-family: "Merriweather", serif !important;
  font-size: 28px !important;
  font-weight: 400 !important;
  line-height: 64px !important;
}

.subtitled {
  font-family: "Merriweather", serif !important;
  font-size: 22px !important;
  font-weight: 400 !important;
  line-height: 36px !important;
}

.subtitled-small {
  font-family: "Merriweather", serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 36px !important;
}

.black {
  color: black !important;
}
