<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="static/styles.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">

    <title>ICT Job Visualisation</title>
  </head>
  <body>
    <!-- Banner Section -->
    <section class="hero is-primary is-large">
      <!-- Video Background -->
      <video autoplay muted loop id="bg-video">
        <source src="static/cook.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item">
                <!-- <img
                  src="https://bulma.io/assets/images/bulma-type-white.png"
                  alt="Logo"
                /> -->
              </a>
              <span class="navbar-burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item is-active"> Home </a>
                <a class="navbar-item"> Documentation </a>
                <span class="navbar-item">
                  <a
                    class="button is-primary is-inverted"
                    href="https://github.com/users/Nnestt/projects/2"
                    target="_blank"
                  >
                    <span class="icon">
                      <i class="fab fa-github"></i>
                    </span>
                    <span>Github</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="titled">Am I Cooked?</p>
          <p class="subtitled">A Job Visualisation For ICT Students</p>
        </div>
      </div>

      <!-- Hero footer: will stick at the bottom -->
      <!-- <div class="hero-foot">
        <nav class="tabs">
          <div class="container">
            <ul>
              <li class="is-active" data-tab="overview"><a>Overview</a></li>
              <li data-tab="singapore"><a>Singapore</a></li>
              <li data-tab="us"><a>US</a></li>
            </ul>
          </div>
        </nav>
      </div> -->
    </section>

    <section class="hero is-medium">
      <div class="hero-body has-background-white">
        <div class="container">
          <div class="columns">
            <div class="column is-6">
              <h1 class="titled is-1 black">Overview</h1>
              <hr class="content-divider has-background-black-ter">
              <h2 class="subtitled black">
                The ICT job market is a dynamic and fast-paced industry that offers
                many opportunities for professionals with the right skills and
                experience. In this report, we will provide an overview of the ICT job
                market in Singapore and the United States, including the most sought
                after jobs and skills in demand. We will also present data visualizations
                to help you better understand the job market and make informed decisions
                about your career.
              </h2>
            </div>
            <div class="column is-half">
              <figure class="image is-square">
                <img src="static/pic.png" alt="dev" />
              </figure>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <h1 class="titled-small">Job Market Overview</h1>
        <div class="columns">
          <div class="column is-half">
            <h2 class="subtitled">Singapore</h2>
            <p class="subtitled-small">
              Singapore is a global hub for technology and innovation. The
              country has a strong ICT sector and is home to many multinational
              companies. The demand for ICT professionals in Singapore is high,
              with many job opportunities available in areas such as software
              development, cybersecurity, and data analytics.
            </p>
          </div>
          <div class="column is-half">
            <h2 class="subtitled">US</h2>
            <p class="subtitled-small">
              The United States is a global leader in technology and innovation.
              The country has a large ICT sector and is home to many of the
              world's leading technology companies. The demand for ICT
              professionals in the US is high, with many job opportunities
              available in areas such as software development, cybersecurity,
              and data analytics.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Graph Sections -->

    <!-- MOST JOBS Section -->
    <section class="section">
      <div class="container">
        <h2 class="titled-small">Companies With Most Job Postings</h2>
        <div class="columns">
          <div class="column is-half">
            <!-- Insert the Plotly graph HTML here -->
              {{ c_sg_html | safe }}
          </div>
          <div class="column is-half">
            <!-- Insert the Plotly graph HTML here -->
            {{ c_us_html | safe }}
          </div>
        </div>
        <div class="subtitled-small">
          <p>
            The above graphs show the companies with the most job postings. Although some of the companies are HR recruitment 
            companies (eg. PERSOLKELLY, Robert Half Technology [both rank 1 in their respective countries]), the data provides an 
            insight into the companies that are actively hiring ICT professionals.
          </p>
        </div>
      </div>
    </section>

    <!-- MOST SEEKED JOBS Section -->
    <section class="section">
      <div class="container">
        <h1 class="titled-small">Most seeked jobs</h1>
        <div class="columns">
          <div class="column is-half">
            <!-- Insert the Plotly graph HTML here -->
            {{ ms_sg_html | safe }}
          </div>
          <div class="column is-half">
            <!-- Insert the Plotly graph HTML here -->
            {{ ms_us_html | safe }}
          </div>
        </div>
        <div class="div subtitled-small">
          <ul>
            <li>
              - Software Engineer and Developer jobs are consistently among the top roles in both regions. Which indicates that there is still a strong demand for these foundational roles in the tech industry
            </li>
            <li>
              - Generalist/Business-Leaning roles are more sought after in the US (eg. Business Systems Analyst, Business Analyst)
            </li>
            <li>
              - Singapore seems to favor more technical roles. There is a especially higher demand for Information Security roles (eg. LAN/WAN Administrator, Cybersecurity Executive, Cybersecurity Analyst). This difference in demand could indicates Singapore's increased focus on cybersecurity and data protection.
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Other Section -->
    <section class="section">
      <div class="container">
        <h2 class="titled-small">Skills In Demand</h2>
        <div class="columns">
          <div class="column is-half">
            <h2 class="title is-4">Graph 3</h2>
            <!-- Insert the Plotly graph HTML here -->
            {{ sg_top_skills_html | safe }}
          </div>
          <div class="column is-half">
            <h2 class="title is-4">Graph 4</h2>
            <!-- Insert the Plotly graph HTML here -->
            {{ us_top_skills_html | safe }} 
          </div>
        </div>
        <div class="div subtitled-small">
          <h2>Using Natural Language Processing(NLP), key skills were extracted from the job description dataset from both regions. The above graphs show the top skills in demand in Singapore and the US.</h2>
          <ul>
            <li>
              - Programming languages (eg. Java, Python, SQL) remain a strong demand from employers for both regions. This indicates that having a strong foundation in programming languages is essential for ICT professionals.
            </li>
            <li>
              - In Singapore, there is a higher demand for skills related to cybersecurity and data protection (eg. systems, testing, compliance).
            </li>
            <li>
              - In the US, there is a higher demand for managerial skills (eg. project management). Which is consistent with our observation that generalist are more favored in the US.
            </li>
          </ul>
        </div>
      </div>
    </section>

          <!-- Other Section -->
    <section class="section">
      <div class="container">
        <h2 class="titled-small">Categorised Skills</h2>
        <div class="columns">
          <div class="column is-half">
            <h2 class="title is-4">Graph 3</h2>
            <!-- Insert the Plotly graph HTML here -->
            {{ sg_top_skills_cat_html| safe }}
          </div>
          <div class="column is-half">
            <h2 class="title is-4">Graph 4</h2>
            <!-- Insert the Plotly graph HTML here -->
            {{ us_top_skills_cat_html | safe }} 
          </div>
        </div>
        <div class="subtitled-small">
          <p>
            Further categorising the skills, we can better understand the general skills in demand in both regions.
          </p>
          <ul>
            <li>
            - There is a very stark and strong demand for knowledge of programming languages in the US. Which could imply that while the US favors generalist roles, those generalist are expected to have a strong foundation in programming.
            </li>
            <li>
              - Conversely, while Singapore seemed to favor more technical roles, companies still demand for strong project management skills (eg. agile, collaboration, communication).
            </li>
          </ul>
        </div>
      </div>
    </section>

      <div class="container">
        <div class="subtitled">
          <h2>
            We further categorised these skills into Software Engineering (SE) and Information Systems (IS) skills 
            to better understand the specifics of each subset of the ICT industry.
          </h2>
        </div>
      </div>
                <!-- Other Section -->
    <section class="section">
      <div class="container">
        <h2 class="titled-small">SE Skills</h2>
        <div class="columns">
          <div class="column is-half">
            <h2 class="title is-4">Graph 3</h2>
            <!-- Insert the Plotly graph HTML here -->
            {{ sg_se_skills_html | safe }}
          </div>
          <div class="column is-half">
            <h2 class="title is-4">Graph 4</h2>
            <!-- Insert the Plotly graph HTML here -->
            {{ us_se_skills_html | safe }} 
          </div>
        </div>
        <div class="subtitled-small">
          <ul>
            <li>
              - There is a very stark and strong demand for knowledge of programming 
              languages in the US. Which could imply that while the US favors generalist roles, 
              those generalist are expected to have a strong foundation in programming.
            </li>
            <li>
              - Conversely, while Singapore seemed to favor more technical roles, companies still demand 
              for strong project management skills (eg. agile, collaboration, communication).
            </li>
          </ul>
        </div>
      </div>
    </section>

                      <!-- Other Section -->
    <section class="section">
      <div class="container">
        <h2 class="titled-small">IS Skills</h2>
        <div class="columns">
          <div class="column is-half">
            <h2 class="title is-4">Graph 3</h2>
            <!-- Insert the Plotly graph HTML here -->
            {{ sg_is_skills_html| safe }}
          </div>
          <div class="column is-half">
            <h2 class="title is-4">Graph 4</h2>
            <!-- Insert the Plotly graph HTML here -->
            {{ us_is_skills_html | safe }} 
          </div>
        </div>
        <div class="subtitled-small">
          <ul>
            <li>
              - Very similar demand for IS related skills in both regions. This could imply that IS professionals with a strong foundation in Singapore are likely to find similar success abroad.
            </li>
          </ul>
        </div>
      </div>
    </section>



    <!-- Content Sections -->
    <!-- <section id="overview" class="section content-sect</section>ion">
      <div class="container">
        <h2 class="title is-4">Overview</h2>
        <p>Overview content goes here.</p>
      </div>
    </section>

    <section id="singapore" class="section content-section is-hidden">
      <div class="container">
        <h2 class="title is-4">Singapore</h2>
        <p>singapore content</p>
      </div>
    </section>

    <section id="us" class="section content-section is-hidden">
      <div class="container">
        <h2 class="title is-4">US</h2>
        <p>us content</p>
      </div>
    </section> -->

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        // Navbar burger toggle
        const navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );

        if (navbarBurgers.length > 0) {
          navbarBurgers.forEach((el) => {
            el.addEventListener("click", () => {
              const target = el.dataset.target;
              const $target = document.getElementById(target);
              el.classList.toggle("is-active");
              $target.classList.toggle("is-active");
            });
          });
        }

        // Tab switching
        //   const tabs = document.querySelectorAll(".tabs li");
        //   const sections = document.querySelectorAll(".content-section");

        //   tabs.forEach((tab) => {
        //     tab.addEventListener("click", () => {
        //       console.log("Tab clicked:", tab); // Log the clicked tab element
        //       tabs.forEach((item) => item.classList.remove("is-active"));
        //       tab.classList.add("is-active");

        //       const target = tab.getAttribute("data-tab");
        //       sections.forEach((section) => {
        //         if (section.id === target) {
        //           section.classList.remove("is-hidden");
        //         } else {
        //           section.classList.add("is-hidden");
        //         }
        //       });
        //     });
        //   });
      });
    </script>
  </body>
</html>
